<div class="article article-sm hover-gloom">
    <figure class="article-visual" style="background-color:#ccc">
        <a href="javascript:void(0);">
            {{ 'image' | placeholder_svg_tag }}
        </a>
    </figure>
    <div class="article-details">
        <div class="article-meta">
            <a href="#" class="article-author">By Jane Doe</a> - <a href="#"
                class="article-date">01. 01. 2100</a>
        </div>
        <h4 class="article-title"><a href="javascript:void(0);">Sample blog post title</a></h4>
        <a href="javascript:void(0);"
            class="btn btn-link btn-underline btn-dark btn-underline btn-sm">{{ 'blogs.article.read_more' | t }}<i
                class="la la-long-arrow-right"></i></a>
    </div>
</div>