
{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

<div class="product-gallery row mb-0" data-product-single-media-group >
  {%- render 'product-labels', product: product, current_variant: current_variant  -%}
  {% if featured_media.media_type == "image" %}
  {% assign photoswipe_index = 0 %}
  {% else %}
  {% assign photoswipe_index = -1 %}
  {% endif %}
  {% include 'featured-media', product_image_full: true,  class: " col-lg-12 col-sm-6 mb-4", media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale, photoswipe_index: photoswipe_index %}
  {%- for media in product.media -%}
    {% unless media == featured_media %} 
      {% if media.media_type == "image" %}
      {% assign photoswipe_index = photoswipe_index | plus : 1 %}
      {% endif %}
      {% include 'media', product_image_full: true,  class: " col-lg-12 col-sm-6 mb-4", media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale, photoswipe_index: photoswipe_index %}
    {% endunless %}
  {%- endfor -%}
  {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

  {%- if first_3d_model -%}
    <button
      aria-label="{{ 'products.product.view_in_space_label' | t }}"
      class="product-single__view-in-space"
      data-shopify-xr
      data-shopify-model3d-id="{{ first_3d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
    </button>
  {%- endif -%}
</div>