{%- if block.settings.image != blank -%}
  <div class="product-image-banner mb-4 mt-2" style="text-align: center;">
    {%- if block.settings.link != blank -%}
      <a href="{{ block.settings.link }}">
    {%- endif -%}
    <img
      src="{{ block.settings.image | img_url: 'master' }}"
      alt="{{ block.settings.image.alt | escape | default: 'Oferta Especial' }}"
      style="max-width: {{ block.settings.width }}%; border-radius: 4px; margin: 0 auto; display: block;"
    >
    {%- if block.settings.link != blank -%}
      </a>
    {%- endif -%}
  </div>
{%- endif -%}
